<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PITagChanger_displaydigits.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <PITagChanger_displaydigits.Properties.Settings>
            <setting name="pending_events_max" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="IS_DEBUG" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="pi_server_to_alter" serializeAs="String">
                <value>windows-vultr</value>
            </setting>
            <setting name="monitor_tag_pi_server" serializeAs="String">
                <value>windows-vultr</value>
            </setting>
            <setting name="monitor_tag_pending_events" serializeAs="String">
                <value>sinusoid</value>
            </setting>
        </PITagChanger_displaydigits.Properties.Settings>
    </applicationSettings>
</configuration>